@tailwind base;
@tailwind components;
@tailwind utilities;

.pancake {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  @apply bg-yellow font-bold text-base-100 py-2 px-4 rounded-lg;
}
